*{
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
    font-size: 18px;

    font-weight: 300;
}

.form {
    padding-top: 480px;
    text-align: center;
    text-decoration-color: black;
}