<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="orderProduct : ${cart.orderProductsList}">
    <td th:text="${orderProduct.product.name}"></td>
    <td th:text="${orderProduct.quantity}"></td>
    <td th:text="${orderProduct.product.price}"></td>
    <td th:text="${orderProduct.totalPrice}"></td>
  </tr>
  <tr>
    <td colspan="3">Total:</td>
    <td th:text="${cart.totalPrice}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>