<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/project.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebShop</title>
</head>
<body>
<form th:action="@{/login}" th:method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div th:if="${param.error}">
        <p th:text="${param.error}"></p>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
    <a href=/newUser>Not a user? register here</a>
</form>
</body>
</html>