<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
  <H1>Order List</H1>
    <hr />
    <table>
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>User ID</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="userOrder : ${userOrders}">
          <td th:text="${userOrder.id}"></td>
          <td th:text="${userOrder.isShipped}"></td>
          <td th:text="${userOrder.user.user.id}"></td>
        </tr>
      </tbody>
    </table>
</body>
</html>